<a href="/movies" class="singleMovieReturn">Återgå till vårat utbud</a>
<div class="singleMovie">
    <img class="singleMovie__img" src="<%= movie.attributes.image.url %>">
    <h3 class="singleMovie__title"><%= movie.attributes.title %></h3>
    <p class="singleMovie__intro"><%= movie.attributes.intro %></p>
</div>